# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Other Python files
*.log
*.pot
*.prof

# IDEs
.vscode/
.idea/

# Models
GoogleNews-vectors-negative300.bin.gz
gru_model_group6